<div id="companyDetailsWrapper">
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-primary right"{{action 'showDetails'}}>Details</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-primary left"{{action 'showCredentials'}}>Credentails</button>
		</div>
	</div>
		{{#liquid-if showDetails class="display"}}
			<div class="company-primary-details-wrapper">
				<div class="company-primary-details-title">
					<h2>Primary Company Credentials</h2>
				</div>
				<div class="panel-wrapper">
					<div class="panel-header">
						<h3 class="panel-title">{{model.name}}</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4">
								<div class="addressbook-company-address-wrapper">
									<h4><i class="fa fa-home"></i><span class="addressbook-company-detail-text">{{model.details.data.address}},</span><br/><span class="addressbook-company-detail-text-second-line">{{model.details.data.city}}, {{model.details.data.state}}, {{model.details.data.zip_code}}</span></h4>
								</div>
							</div>
							<div class="col-md-4">
								<h4><i class="fa fa-envelope"></i><span class="addressbook-company-detail-text"><a href="mailto:{{model.details.data.email}}">{{model.details.data.email}}</a></span></h4>
							</div>
							<div class="col-md-4">
								<h4><i class="fa fa-phone"></i><span class="addressbook-company-detail-text"><a href="tel: +1{{model.details.data.unformatted_phone_number}}">{{model.details.data.formatted_phone_number}}</a></span></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="company-employees-detail-wrapper">
				<div class="company-employess-detail-info-wrapper">
					<h2>Employee Details</h2>
					<button class="btn btn-primary right" {{action 'showModal' 'add-employee-modal' model}}>Add Employee</button>
				</div>
				{{#each employee in model.employees.data}}
					<div class="panel-wrapper">
						<div class="panel-header">
							<h3 class="panel-title">{{employee.first_name}} {{employee.last_name}}</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6">
									<h4><i class="fa fa-envelope"></i><span class="addressbook-company-detail-text"><a href="mailto:{{employee.email}}">{{employee.email}}</a></span></h4>
								</div>
								<div class="col-md-6">
									<h4><i class="fa fa-phone"></i><span class="addressbook-company-detail-text"><a href="tel: +1{{employee.unformatted_phone_number}}">{{employee.formatted_phone_number}}</a></span></h4>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		{{else}}
			{{#link-to 'address-book.add-credentials' model.slug}}<button class="btn btn-sucess" >Add Credentials</button>{{/link-to}}
			{{#each m in model.credentials.data}}
				<div class="panel-wrapper">
				  
				  <div class="panel-header">
				    <h3 class="panel-title">{{m.name}}</h3>
				  </div>
				  <div class="panel-body">
					{{#each c in m.credentials.data}}
						<p><strong>{{c.credential_option}}: </strong>{{c.credential}}</p>
					{{/each}}
				  </div>
				</div>
			{{/each}}
		{{/liquid-if}}
</div>
